@media screen and (min-width: 991px) {

    header{
        background: rgb(240, 239, 239);
    }

    #logo{
        float: left;
    }

    nav{
        text-align: start;
        background: rgb(240, 239, 239);
    }

    nav ul{
        height: 100%;
        line-height: 40px;
        display:block;
        float: right;
        margin: 20px auto;
        padding: 0;
    }

    nav li{
        display: inline;
        margin: 0;
        padding: 15px;
    }

    nav li:hover, a:hover{
        background: rgb(119, 0, 255);
        color: white;
    }

    nav a{
        font-size: 1.3em;
        margin: 0;
        padding: 0;
        color: rgb(119, 0, 255);
    }

    #montanha{
        background: white url(../img/bg_topo_1198x670.jpg) no-repeat;
    }

    #montanha img{
        padding-top: 150px;
        clear: both;
        margin: auto;
    }
    
}@media screen and (min-width: 991px) {

    header{
        background: rgb(240, 239, 239);
    }

    #logo{
        float: left;
    }

    nav{
        text-align: start;
        background: rgb(240, 239, 239);
    }

    nav ul{
        height: 100%;
        line-height: 40px;
        display:block;
        float: right;
        margin: 20px auto;
        padding: 0;
    }

    nav li{
        display: inline;
        margin: 0;
        padding: 15px;
    }

    nav li:hover, a:hover{
        background: rgb(119, 0, 255);
        color: white;
    }

    nav a{
        font-size: 1.3em;
        margin: 0;
        padding: 0;
        color: rgb(119, 0, 255);
    }

    #montanha{
        background: white url(../img/bg_topo_1198x670.jpg) no-repeat;
    }

    #montanha img{
        padding-top: 150px;
        clear: both;
        margin: auto;
    }
    
}